<div class="row footer-body">
  <div class="column links-container">
    <a routerLink="home" (click)="backToTop()">Login</a>
    <a routerLink="home" (click)="backToTop()">Home</a>    
  </div>
  <div class="column">
    <img src="../../assets/mascot.png" height='90px' width='120px'>
  </div>
  <div class="column links-container">
    <a routerLink="reviews" (click)="backToTop()">Reviews</a>
    <a routerLink="podcasts" (click)="backToTop()">Podcasts</a>    
  </div>
  <button class="back-to-top" (click)="backToTop()">Back to Top<i class="material-icons">arrow_upward</i></button>
</div>
