<div class="main-container">
  <div class="column">
    <div class="row">
      <div class="circle user-image"></div>
      <div class="account-id">User email will be here</div>
    </div>
    <div class="content">
      <div class="account-info column">
        <h3>Account Info:</h3>
        <div class="user-name">
          <label for='userName'>Username:</label>
          <input type="text" name="userName">
        </div>
        <button class="button secondary">Password</button>  
      </div>
      <div class="settings column">
        <h3>Settings:</h3>
        <button class="button secondary">Theme</button>  
      </div>  
      <a routerLink='/user/favorites'><button class="button nav">
        Favorites <i class="material-icons">chevron_right</i>
      </button></a>
    </div>
  </div>
</div>  
